@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Josefin Sans Light'), local('JosefinSans-Light'), url(https://fonts.gstatic.com/s/josefinsans/v14/Qw3FZQNVED7rKGKxtqIqX5Ecpl5te10k.ttf) format('truetype');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Josefin Sans Bold'), local('JosefinSans-Bold'), url(https://fonts.gstatic.com/s/josefinsans/v14/Qw3FZQNVED7rKGKxtqIqX5Ectllte10k.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI9w2_Gwfo.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v16/S6u8w4BMUTPHjxsAXC-v.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI5wq_Gwfo.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USSwiPHA.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPHA.ttf) format('truetype');
}

body {
  background: #EEEEEE;
  font: 12px "Lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
  background: white;
  line-height: 1.4;
  margin: 40px 0;
}

em {
  color: #999;
}

p {
  line-height: 1.4;
}

ul {
  margin-bottom: 0;
}

li {
  margin-bottom: 2px;
}

a {
  text-decoration: none;
}

#resume {
  margin: 0 auto;
  max-width: 600px;
  padding: 80px 100px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px #aaa;
  -webkit-box-shadow: 2px 2px 4px #aaa;
}

#nameBlock {
  text-align: center;
  margin-bottom: 20px;
}

#nameBlock .name {
  font-size: 25px;
  font-weight: bold;
}

#nameBlock .label {
  font-size: 14px;
  font-weight: bold;
}

#basicsBlock {
  text-align: center;
}

.basicsContent {
  width: 100% !important;
}

.coursesList {
  width: 28%;
  vertical-align: top;
  display: inline-block;
}

.largeFont {
  font-size: 20px;
}

.smallFont {
  font-size: 12px;
}

.sectionBlock {
  display: flex;
  width: 100%;
}

.sectionName {
  width: 18%;
  font-weight: bold;
  vertical-align: top;
  display: inline-block;
}

.sectionContent {
  width: 80%;
  vertical-align: top;
  display: inline-block;
  text-align: justify;
}

.sectionContent ul {
  padding-left: 20px;
  margin-top: 6px;
  list-style-type: circle;
}

.sectionContent .title {
  font-weight: bold;
}

.sectionContent .date {
  float: right;
}

.sectionContent .company-website {
  float: right;
}

.sectionContent .work-company {
  font-style: italic
}

.sectionContent .separator {
  height: 14px;
}

.sectionLine {
  margin-top: 1em;
  display: block;
  margin-bottom: 1em;
}

.divider {
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}

.summary {
  margin-top: 6px;
}

.educationBlock .studyType{
  font-style: italic;
}

.skillBlock {
  margin-bottom: 4px;
}

.jobBlock {
  page-break-inside: avoid;
}

@media print {
  @page {
    margin: 2.5cm 0;
    page: A4;
  }

  @page :first {
    margin: 0;
  }

  body {
    background: #FFFFFF;
    height:auto;
  }

  #resume {
    max-width: 600px;
    padding: 0px 0px;
    border: 0px;
    background: #fff;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  a {
    color: black;
  }
}
